.common{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-left:100px;
    padding-right:100px;

}

.header{
    height: 400px;
    background-image:url(../assets/img/flowers2.jpeg);
    background-size: cover;
    background-position:relative;
    line-height: 380px;
    font-size: 40px;
    color:white;
    text-align: center
}
.mainbody{
    background-color:white;
    color: black;
    text-align: left;
    font-size: 20px;
}
.video{
    display:flex;
    justify-content: center;
}
.footer{
    background-color: white;
    color:black;
    height: 20x;
    bottom: 0px;
    right: 5px;
    left: 5px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

nav{
    background-color: transparent;
    padding: 10px;
    font-size:15px;
    position:absolute;
    color:white;
    text-align:right;
}
nav a:hover{
    color:pink;
}
nav a{
    float: left;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

